[Unit]
Description=Patrol Server auto start service

[Service]
ExecStart=/home/patrol1/auto_start/start_server.sh
Restart=on-abort
[Install]
WantedBy=multi-user.target
