[Unit]
Description=Patrol navigation auto start service

[Service]
ExecStart=/home/patrol1/auto_start/start_navigation.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
